 ## Reading and Writing Data in Text Format
 
 pandas features a number of functions for reading tabular data as a DataFrame object. 
 
 **Type Inference** means you don't have to specify which columns are numeric, integre, boolean or string.

In [50]:
%cd "C:\Users\sonya\Documents\Python for Data Analysis\data\ch06"
import pandas as pd
import numpy as np
from pandas import DataFrame, Series

C:\Users\sonya\Documents\Python for Data Analysis\data\ch06

In [8]:
#Preview data file using unix type command to print the raw contents of the file

!type ex1.csv

a,b,c,d,message
1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo

In [9]:
df=pd.read_csv('ex1.csv') #reads comma delimited by default. To specify delimiter, use sep = ',' option
df

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

A file will not always have a header row. For example

In [10]:
!Type ex2.csv

1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo

To read this in, allow pandas to assign default column names by specifying `header=None` option or specify names yourself using `name=` option. If we omit `header=None` option, pandas will automatically take the first row as its headers.

In [11]:
pd.read_csv('ex2.csv', header=None)

   0   1   2   3      4
0  1   2   3   4  hello
1  5   6   7   8  world
2  9  10  11  12    foo

In [12]:
pd.read_csv('ex2.csv')

   1   2   3   4  hello
0  5   6   7   8  world
1  9  10  11  12    foo

In [13]:
pd.read_csv('ex2.csv',names=['a','b','c','d','message'])

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

To make a column an index, we can use `index_col` argument and indicate we want the column at index # or name of the column. If we want a hierarchical index from multiple columns, we can pass a list of column numbers of names through `index_col`

In [14]:
# Make 'message' our index for the df

names=['a','b','c','d','message']

pd.read_csv('ex2.csv', names=names, index_col='message')

         a   b   c   d
message
hello    1   2   3   4
world    5   6   7   8
foo      9  10  11  12

In [15]:
!Type csv_mindex.csv

key1,key2,value1,value2
one,a,1,2
one,b,3,4
one,c,5,6
one,d,7,8
two,a,9,10
two,b,11,12
two,c,13,14
two,d,15,16

In [16]:
parsed = pd.read_csv('csv_mindex.csv',index_col=['key1','key2'])
parsed

           value1  value2
key1 key2
one  a          1       2
     b          3       4
     c          5       6
     d          7       8
two  a          9      10
     b         11      12
     c         13      14
     d         15      16

In some cases, we need to use whitespace as our delimiter. In such cases, we can use `read_table` method and ad `\s+` as our separator for space via `sep=`.

In [17]:
!Type ex3.txt

            A         B         C
aaa -0.264438 -1.026059 -0.619500
bbb  0.927272  0.302904 -0.032399
ccc -0.264273 -0.386314 -0.217601
ddd -0.871858 -0.348382  1.100491

In [20]:
result = pd.read_table('ex3.txt', sep ='\s+')
result

# There's no column name in column 1 so read_table infers that the first column should be the DatFrame's index

            A         B         C
aaa -0.264438 -1.026059 -0.619500
bbb  0.927272  0.302904 -0.032399
ccc -0.264273 -0.386314 -0.217601
ddd -0.871858 -0.348382  1.100491

#### Additional Options

Skip rows, handle missing data, etc.

In [21]:
!Type ex4.csv

# hey!
a,b,c,d,message
# just wanted to make things more difficult for you
# who reads CSV files with computers, anyway?
1,2,3,4,hello
5,6,7,8,world
9,10,11,12,foo

In [22]:
pd.read_csv('ex4.csv',skiprows=[0,2,3])  # Skip rows

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

For missing values, pandas uses a set of commonly occurring **sentinels** like NA, -1.#IND, and NULL.

**Sentinels** are objects with special meanings. They can be thought of as singletons, but they service the need of having 'special' values in your code, that have special meanings

In [23]:
!Type ex5.csv

something,a,b,c,d,message
one,1,2,3,4,NA
two,5,6,,8,world
three,9,10,11,12,foo

In [25]:
result = pd.read_csv('ex5.csv')
result

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

In [26]:
pd.isnull(result)

   something      a      b      c      d  message
0      False  False  False  False  False     True
1      False  False  False   True  False    False
2      False  False  False  False  False    False

In [28]:
result = pd.read_csv('ex5.csv',na_values=['NULL'])
result

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       two  5   6   NaN   8   world
2     three  9  10  11.0  12     foo

Different NA sentinels can be specified for each column in a dict:

In [29]:
sentinels = {'message': ['foo','NA'],'something':['two']}

pd.read_csv('ex5.csv',na_values=sentinels)

  something  a   b     c   d message
0       one  1   2   3.0   4     NaN
1       NaN  5   6   NaN   8   world
2     three  9  10  11.0  12     NaN

### Reading Text Files in Pieces

In [31]:
result = pd.read_csv('ex6.csv')
result

           one       two     three      four key
0     0.467976 -0.038649 -0.295344 -1.824726   L
1    -0.358893  1.404453  0.704965 -0.200638   B
2    -0.501840  0.659254 -0.421691 -0.057688   G
3     0.204886  1.074134  1.388361 -0.982404   R
4     0.354628 -0.133116  0.283763 -0.837063   Q
5     1.817480  0.742273  0.419395 -2.251035   Q
6    -0.776764  0.935518 -0.332872 -1.875641   U
7    -0.913135  1.530624 -0.572657  0.477252   K
8     0.358480 -0.497572 -0.367016  0.507702   S
9    -1.740877 -1.160417 -1.637830  2.172201   G
10    0.240564 -0.328249  1.252155  1.072796   8
11    0.764018  1.165476 -0.639544  1.495258   R
12    0.571035 -0.310537  0.582437 -0.298765   1
13    2.317658  0.430710 -1.334216  0.199679   P
14    1.547771 -1.119753 -2.277634  0.329586   J
15   -1.310608  0.401719 -1.000987  1.156708   E
16   -0.088496  0.634712  0.153324  0.415335   B
17   -0.018663 -0.247487 -1.446522  0.750938   A
18   -0.070127 -1.579097  0.120892  0.671432   F
19   -0.194678 -0.492039  2.359605  0.319810   H
20   -0.248618  0.868707 -0.492226 -0.717959   W
21   -1.091549 -0.867110 -0.647760 -0.832562   C
22    0.641404 -0.138822 -0.621963 -0.284839   C
23    1.216408  0.992687  0.165162 -0.069619   V
24   -0.564474  0.792832  0.747053  0.571675   I
25    1.759879 -0.515666 -0.230481  1.362317   S
26    0.126266  0.309281  0.382820 -0.239199   L
27    1.334360 -0.100152 -0.840731 -0.643967   6
28   -0.737620  0.278087 -0.053235 -0.950972   J
29   -1.148486 -0.986292 -0.144963  0.124362   Y
...        ...       ...       ...       ...  ..
9970  0.633495 -0.186524  0.927627  0.143164   4
9971  0.308636 -0.112857  0.762842 -1.072977   1
9972 -1.627051 -0.978151  0.154745 -1.229037   Z
9973  0.314847  0.097989  0.199608  0.955193   P
9974  1.666907  0.992005  0.496128 -0.686391   S
9975  0.010603  0.708540 -1.258711  0.226541   K
9976  0.118693 -0.714455 -0.501342 -0.254764   K
9977  0.302616 -2.011527 -0.628085  0.768827   H
9978 -0.098572  1.769086 -0.215027 -0.053076   A
9979 -0.019058  1.964994  0.738538 -0.883776   F
9980 -0.595349  0.001781 -1.423355 -1.458477   M
9981  1.392170 -1.396560 -1.425306 -0.847535   H
9982 -0.896029 -0.152287  1.924483  0.365184   6
9983 -2.274642 -0.901874  1.500352  0.996541   N
9984 -0.301898  1.019906  1.102160  2.624526   I
9985 -2.548389 -0.585374  1.496201 -0.718815   D
9986 -0.064588  0.759292 -1.568415 -0.420933   E
9987 -0.143365 -1.111760 -1.815581  0.435274   2
9988 -0.070412 -1.055921  0.338017 -0.440763   X
9989  0.649148  0.994273 -1.384227  0.485120   Q
9990 -0.370769  0.404356 -1.051628 -1.050899   8
9991 -0.409980  0.155627 -0.818990  1.277350   W
9992  0.301214 -1.111203  0.668258  0.671922   A
9993  1.821117  0.416445  0.173874  0.505118   X
9994  0.068804  1.322759  0.802346  0.223618   H
9995  2.311896 -0.417070 -1.409599 -0.515821   L
9996 -0.479893 -0.650419  0.745152 -0.646038   E
9997  0.523331  0.787112  0.486066  1.093156   K
9998 -0.362559  0.598894 -1.843201  0.887292   G
9999 -0.096376 -1.012999 -0.657431 -0.573315   0

[10000 rows x 5 columns]

To avoid reading the whole file, read out only a small number of rows using `nrows=`

In [34]:
pd.read_csv('ex6.csv', nrows=10) # First 10 rows

        one       two     three      four key
0  0.467976 -0.038649 -0.295344 -1.824726   L
1 -0.358893  1.404453  0.704965 -0.200638   B
2 -0.501840  0.659254 -0.421691 -0.057688   G
3  0.204886  1.074134  1.388361 -0.982404   R
4  0.354628 -0.133116  0.283763 -0.837063   Q
5  1.817480  0.742273  0.419395 -2.251035   Q
6 -0.776764  0.935518 -0.332872 -1.875641   U
7 -0.913135  1.530624 -0.572657  0.477252   K
8  0.358480 -0.497572 -0.367016  0.507702   S
9 -1.740877 -1.160417 -1.637830  2.172201   G

In [35]:
# To read out a file in pieces, specify a chunksize as number of rows

chunker = pd.read_csv('ex6.csv', chunksize = 1000)
chunker

In [36]:
# TextParser object returned by read_csv allows us to iterate over the parts of the file according to chunksize
# For ex, we can iterate over ex6 summing the value counts in the key column

tot=Series([])
for piece in chunker:
    tot=tot.add(piece['key'].value_counts(),fill_value=0)

tot = order(ascending=False)

NameError: name 'order' is not defined

### Writing Data Out to Text Format

Data can also be exported to delimited format using `to_csv` method

In [39]:
data=pd.read_csv('ex5.csv')
data

data.to_csv('out.csv')

!Type out.csv

,something,a,b,c,d,message
0,one,1,2,3.0,4,
1,two,5,6,,8,world
2,three,9,10,11.0,12,foo

In [41]:
data.to_csv('out2.csv', sep='|')
!Type out2.csv

|something|a|b|c|d|message
0|one|1|2|3.0|4|
1|two|5|6||8|world
2|three|9|10|11.0|12|foo

By default, missing values appear as empty strings in the output. We might want to denote them by some other sentinel value using `na_rep`:

In [43]:
data.to_csv('out3.csv',na_rep='N/A')
!Type out3.csv

,something,a,b,c,d,message
0,one,1,2,3.0,4,N/A
1,two,5,6,N/A,8,world
2,three,9,10,11.0,12,foo

By default, both row and column labels are written. This can be disabled using `header=False and index=False`

In [45]:
data.to_csv('out4.csv',index=False,header=False)
!Type out4.csv

one,1,2,3.0,4,
two,5,6,,8,world
three,9,10,11.0,12,foo

We can also only write a subset of the column and in an order of our choosing

In [48]:
data.to_csv('out5.csv',index=False, columns=['a','b','c'])
!Type out5.csv

a,b,c
1,2,3.0
5,6,
9,10,11.0

In [53]:
# Also works on series

dates = pd.date_range('1/1/2000',periods=7)
print dates

ts=Series(np.arange(7),index=dates)
print ts

ts.to_csv('tseries.csv')
!Type tseries.csv

DatetimeIndex(['2000-01-01', '2000-01-02', '2000-01-03', '2000-01-04',
               '2000-01-05', '2000-01-06', '2000-01-07'],
              dtype='datetime64[ns]', freq='D')
2000-01-01    0
2000-01-02    1
2000-01-03    2
2000-01-04    3
2000-01-05    4
2000-01-06    5
2000-01-07    6
Freq: D, dtype: int32
2000-01-01,0
2000-01-02,1
2000-01-03,2
2000-01-04,3
2000-01-05,4
2000-01-06,5
2000-01-07,6

In [55]:
# Read a CSV version of series (with no header, first column as index) with read_csv or from_csv

Series.from_csv('tseries.csv', parse_dates=True)

2000-01-01    0
2000-01-02    1
2000-01-03    2
2000-01-04    3
2000-01-05    4
2000-01-06    5
2000-01-07    6
dtype: int64

### Manually Working with Delimited Formats

Most forms of tabular data can be loaded using pandas.read_table. In some cases, however, some manual processing may be necessary.

In [56]:
!Type ex7.csv

"a","b","c"
"1","2","3"
"1","2","3","4"

In [57]:
import csv

f = open('ex7.csv')
reader= csv.reader(f)

iterating through the reader like a file yields tuples of values in each like with any quote characters removed:

In [58]:
for line in reader:
    print line

['a', 'b', 'c']
['1', '2', '3']
['1', '2', '3', '4']

From there, it's up to us to do the wrangling necessary to put the data in the form we need it.

In [59]:
lines = list(csv.reader(open('ex7.csv')))

header, values = lines[0], lines[1:] #values are in Row 1 onwards and header is in Row 0

data_dict= {h: v for h, v in zip(header,zip(*values))}

data_dict

{'a': ('1', '1'), 'b': ('2', '2'), 'c': ('3', '3')}

CSV files come in many different formats. Defining a new format with a set delimiter, string quoting convention or line terminator is done by defining a simple subclass of `csv.Dialect`:

In [62]:
class my_dialect(csv.Dialect):
    lineterminator='\n'
    delimiter=';'
    quotechar='"'
    quoting=csv.QUOTE_MINIMAL

reader=csv.reader(f,dialect=my_dialect)

<_csv.reader object at 0x0000000009C8B588>

To write delimited files manually, we can use csv.writer. It accepts an open writable file object and same dialect/format options as csv.reader

In [67]:
with open('mydata.csv', 'w') as f:
    writer=csv.writer(f, dialect=my_dialect)
    writer.writerow(('one','two','three'))
    writer.writerow(('1','2','3'))
    writer.writerow(('4','5','6'))
    writer.writerow(('7','8','9'))
    
readout = pd.read_csv('mydata.csv',sep=';')
readout

   one  two  three
0    1    2      3
1    4    5      6
2    7    8      9

### JSON Data

**JSON ( Javascript Object Notation)** is a standard format for sending data by HTTP request between web browsers and other apps. It's a much more flexible data format than a tabular text form like CSV.

In [71]:
obj="""
{"name":"Wes",
 "places_lived": ["United States","Spain","Germany"],
 "pets": null,
 "siblings": [{"name": "Scott", "age": 25, "pet": "Zuko"},
              {"name": "Katie", "age": 33, "pet": "Cisco"}]
}
"""

All the keys in an object must be strings. There are several libraries for reading and writing JSON data such as Python's built in `json` standard library. To convert a JSON string to Python form, use `json.loads`:

In [88]:
import json

result=json.loads(obj)

result

{u'name': u'Wes',
 u'pets': None,
 u'places_lived': [u'United States', u'Spain', u'Germany'],
 u'siblings': [{u'age': 25, u'name': u'Scott', u'pet': u'Zuko'},
  {u'age': 33, u'name': u'Katie', u'pet': u'Cisco'}]}

`json.dumps`converts a python object back to JSON

In [75]:
asjson=json.dumps(result)
asjson

'{"siblings": [{"pet": "Zuko", "age": 25, "name": "Scott"}, {"pet": "Cisco", "age": 33, "name": "Katie"}], "name": "Wes", "pets": null, "places_lived": ["United States", "Spain", "Germany"]}'

You can pass a list of JSON objects to the DataFrame constructor and select a subset of the data fields

In [89]:
siblings = DataFrame(result['siblings'], columns=['name','age'])

siblings

    name  age
0  Scott   25
1  Katie   33

###  Binary Data Formats

The easiest way to store data efficiently in binary format is using Python's built-in `pickle` serialization. There is also a `save` method which write data to disk as a pickle:

In [90]:
frame=pd.read_csv('ex1.csv')

frame

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [98]:
import cPickle as pickle

#Store data / Serialize
with open('frame_pickle.pickle', 'wb') as handle:
    pickle.dump(frame, handle, protocol=pickle.HIGHEST_PROTOCOL)
    
with open('frame_pickle.pickle', 'rb') as handle:
    unserialized_data = pickle.load(handle)
    
print(frame == unserialized_data)

      a     b     c     d  message
0  True  True  True  True     True
1  True  True  True  True     True
2  True  True  True  True     True

### Reading Excel Files

pandas supports reading tabular data stored in Excel. 

More info: https://automatetheboringstuff.com/chapter12/

In [103]:
import openpyxl as excel

xls_file = pd.ExcelFile('data.xlsx')

table=xls_file.parse('Sheet1')

table

   Testing    1
0        1  3.0
1        2  3.0
2        3  NaN
3        4  3.0

### Interacting with HTML and Web API's

Many website have public API's providing data feeds via JSON or some other format.

In [112]:
import requests

url = 'https://api.github.com/repos/pydata/pandas/milestones/28/labels'

resp=requests.get(url)
resp

data = resp.json()  # json returns a dictionary containing JSON parsed into native Python objects
print data

issue_labels=DataFrame(data)
print issue_labels

[{u'url': u'https://api.github.com/repos/pandas-dev/pandas/labels/Bug', u'color': u'e10c02', u'default': False, u'id': 76811, u'name': u'Bug'}, {u'url': u'https://api.github.com/repos/pandas-dev/pandas/labels/Enhancement', u'color': u'4E9A06', u'default': False, u'id': 76812, u'name': u'Enhancement'}, {u'url': u'https://api.github.com/repos/pandas-dev/pandas/labels/Refactor', u'color': u'FCE94F', u'default': False, u'id': 127681, u'name': u'Refactor'}, {u'url': u'https://api.github.com/repos/pandas-dev/pandas/labels/Build', u'color': u'75507B', u'default': False, u'id': 129350, u'name': u'Build'}, {u'url': u'https://api.github.com/repos/pandas-dev/pandas/labels/Docs', u'color': u'3465A4', u'default': False, u'id': 134699, u'name': u'Docs'}, {u'url': u'https://api.github.com/repos/pandas-dev/pandas/labels/Groupby', u'color': u'729FCF', u'default': False, u'id': 233160, u'name': u'Groupby'}, {u'url': u'https://api.github.com/repos/pandas-dev/pandas/labels/Data%20IO', u'color': u'06909A', u'default': False, u'id': 2301354, u'name': u'Data IO'}, {u'url': u'https://api.github.com/repos/pandas-dev/pandas/labels/Visualization', u'color': u'8AE234', u'default': False, u'id': 2413328, u'name': u'Visualization'}, {u'url': u'https://api.github.com/repos/pandas-dev/pandas/labels/Indexing', u'color': u'0b02e1', u'default': False, u'id': 2822098, u'name': u'Indexing'}, {u'url': u'https://api.github.com/repos/pandas-dev/pandas/labels/Missing-data', u'color': u'd7e102', u'default': False, u'id': 2822342, u'name': u'Missing-data'}, {u'url': u'https://api.github.com/repos/pandas-dev/pandas/labels/Performance', u'color': u'a10c02', u'default': False, u'id': 8935311, u'name': u'Performance'}, {u'url': u'https://api.github.com/repos/pandas-dev/pandas/labels/Reshaping', u'color': u'02d7e1', u'default': False, u'id': 13098779, u'name': u'Reshaping'}, {u'url': u'https://api.github.com/repos/pandas-dev/pandas/labels/Difficulty%20Novice', u'color': u'fbca04', u'default': False, u'id': 29648920, u'name': u'Difficulty Novice'}, {u'url': u'https://api.github.com/repos/pandas-dev/pandas/labels/Dtypes', u'color': u'e102d8', u'default': False, u'id': 31404521, u'name': u'Dtypes'}, {u'url': u'https://api.github.com/repos/pandas-dev/pandas/labels/Admin', u'color': u'DDDDDD', u'default': False, u'id': 32933285, u'name': u'Admin'}, {u'url': u'https://api.github.com/repos/pandas-dev/pandas/labels/API%20Design', u'color': u'AD7FA8', u'default': False, u'id': 35818298, u'name': u'API Design'}, {u'url': u'https://api.github.com/repos/pandas-dev/pandas/labels/Error%20Reporting', u'color': u'ffa0ff', u'default': False, u'id': 42670965, u'name': u'Error Reporting'}, {u'url': u'https://api.github.com/repos/pandas-dev/pandas/labels/Numeric', u'color': u'006b75', u'default': False, u'id': 47223669, u'name': u'Numeric'}, {u'url': u'https://api.github.com/repos/pandas-dev/pandas/labels/IO%20CSV', u'color': u'5319e7', u'default': False, u'id': 47229171, u'name': u'IO CSV'}, {u'url': u'https://api.github.com/repos/pandas-dev/pandas/labels/IO%20SQL', u'color': u'5319e7', u'default': False, u'id': 47232590, u'name': u'IO SQL'}, {u'url': u'https://api.github.com/repos/pandas-dev/pandas/labels/CI', u'color': u'a2bca7', u'default': False, u'id': 48070600, u'name': u'CI'}, {u'url': u'https://api.github.com/repos/pandas-dev/pandas/labels/Internals', u'color': u'fbca04', u'default': False, u'id': 49094459, u'name': u'Internals'}, {u'url': u'https://api.github.com/repos/pandas-dev/pandas/labels/Timedelta', u'color': u'5319e7', u'default': False, u'id': 49597148, u'name': u'Timedelta'}, {u'url': u'https://api.github.com/repos/pandas-dev/pandas/labels/Frequency', u'color': u'0052cc', u'default': False, u'id': 53181044, u'name': u'Frequency'}, {u'url': u'https://api.github.com/repos/pandas-dev/pandas/labels/Windows', u'color': u'fbca04', u'default': False, u'id': 57186974, u'name': u'Windows'}, {u'url': u'https://api.github.com/repos/pandas-dev/pandas/labels/Algos', u'color': u'eb6420', u'default': False, u'id': 57296398, u'name': u'Algos'}, {u'url': u'https://api.github.com/repos/pandas-dev/pandas/labels/Timezones', u'color': u'5319e7', u'default': False, u'id': 60458168, u'name': u'Timezones'}, {u'url': u'https://api.github.com/repos/pandas-dev/pandas/labels/Period', u'color': u'eb6420', u'default': False, u'id': 60635328, u'name': u'Period'}, {u'url': u'https://api.github.com/repos/pandas-dev/pandas/labels/MultiIndex', u'color': u'207de5', u'default': False, u'id': 71268330, u'name': u'MultiIndex'}, {u'url': u'https://api.github.com/repos/pandas-dev/pandas/labels/Categorical', u'color': u'e11d21', u'default': False, u'id': 78527356, u'name': u'Categorical'}]
     color  default        id               name  \
0   e10c02    False     76811                Bug
1   4E9A06    False     76812        Enhancement
2   FCE94F    False    127681           Refactor
3   75507B    False    129350              Build
4   3465A4    False    134699               Docs
5   729FCF    False    233160            Groupby
6   06909A    False   2301354            Data IO
7   8AE234    False   2413328      Visualization
8   0b02e1    False   2822098           Indexing
9   d7e102    False   2822342       Missing-data
10  a10c02    False   8935311        Performance
11  02d7e1    False  13098779          Reshaping
12  fbca04    False  29648920  Difficulty Novice
13  e102d8    False  31404521             Dtypes
14  DDDDDD    False  32933285              Admin
15  AD7FA8    False  35818298         API Design
16  ffa0ff    False  42670965    Error Reporting
17  006b75    False  47223669            Numeric
18  5319e7    False  47229171             IO CSV
19  5319e7    False  47232590             IO SQL
20  a2bca7    False  48070600                 CI
21  fbca04    False  49094459          Internals
22  5319e7    False  49597148          Timedelta
23  0052cc    False  53181044          Frequency
24  fbca04    False  57186974            Windows
25  eb6420    False  57296398              Algos
26  5319e7    False  60458168          Timezones
27  eb6420    False  60635328             Period
28  207de5    False  71268330         MultiIndex
29  e11d21    False  78527356        Categorical

                                                  url
0   https://api.github.com/repos/pandas-dev/pandas...
1   https://api.github.com/repos/pandas-dev/pandas...
2   https://api.github.com/repos/pandas-dev/pandas...
3   https://api.github.com/repos/pandas-dev/pandas...
4   https://api.github.com/repos/pandas-dev/pandas...
5   https://api.github.com/repos/pandas-dev/pandas...
6   https://api.github.com/repos/pandas-dev/pandas...
7   https://api.github.com/repos/pandas-dev/pandas...
8   https://api.github.com/repos/pandas-dev/pandas...
9   https://api.github.com/repos/pandas-dev/pandas...
10  https://api.github.com/repos/pandas-dev/pandas...
11  https://api.github.com/repos/pandas-dev/pandas...
12  https://api.github.com/repos/pandas-dev/pandas...
13  https://api.github.com/repos/pandas-dev/pandas...
14  https://api.github.com/repos/pandas-dev/pandas...
15  https://api.github.com/repos/pandas-dev/pandas...
16  https://api.github.com/repos/pandas-dev/pandas...
17  https://api.github.com/repos/pandas-dev/pandas...
18  https://api.github.com/repos/pandas-dev/pandas...
19  https://api.github.com/repos/pandas-dev/pandas...
20  https://api.github.com/repos/pandas-dev/pandas...
21  https://api.github.com/repos/pandas-dev/pandas...
22  https://api.github.com/repos/pandas-dev/pandas...
23  https://api.github.com/repos/pandas-dev/pandas...
24  https://api.github.com/repos/pandas-dev/pandas...
25  https://api.github.com/repos/pandas-dev/pandas...
26  https://api.github.com/repos/pandas-dev/pandas...
27  https://api.github.com/repos/pandas-dev/pandas...
28  https://api.github.com/repos/pandas-dev/pandas...
29  https://api.github.com/repos/pandas-dev/pandas...

In [114]:
issue_labels.iloc[7]

color                                                 8AE234
default                                                False
id                                                   2413328
name                                           Visualization
url        https://api.github.com/repos/pandas-dev/pandas...
Name: 7, dtype: object

### Databases

In many applications data rarely comes from text files, that being a fairly inefficient way to store large amounts of data. SQL-based relational databases (MYSQL, SQL Server, PostGresSQL) are in wide use. Loading data from SQL into a DataFrame is fairly easy and pandas has some functions to simplify the process.

In [ ]:
import sqlite3

query ="""
CREATE TABLE test
(a VARCHAR(20), b VARCHAR(20),
c REAL, d INTEGER);"""

con=sqlite.3.connect(':memory:')
con.execute(query)
con.commit()

data=[('Atlanta','Georgia', 1.25, 6),
      ('Tallahassee','Florida', 2.6,3),
      ('Sacramento','California',1.7,5)]

stmt= "INSERT INTO test VALUES(?,?,?,?)"

con.executemany(stmt, data)
con.commit()